aside {
  position: fixed;
  top: 61px;
  right: -470px;
  transition: right 0.4s ease-in-out;
  width: 250px;
  background-color: var(--topBarColor);
  /* background-color: #333333; */
  padding-top: 0px;
  padding-bottom: 20px;
  z-index: 1000;
  height: fit-content;
  max-height: 100vh;
  overflow-y: auto;
  border-radius: 8px 0 0 8px;
  
}

aside.active {
  right: 0px;
}

aside.notactive {
  right: -461px;
}

.side_nav {
  padding: 20px 30px;
}

aside ul {
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

aside ul li {
  padding: 4px 0px;
  text-align: left;
  line-height: 30px; 
  /* border-bottom: 1px solid #fbfbfb1e; */
}

aside ul li a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  padding: 2px 0px;
  display: block;
  /* text-decoration: none; */
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}

aside ul li a:hover {
  letter-spacing: 0.08rem;
  transition:  letter-spacing 0.4s ease-in-out;
  /* background-color: rgb(197, 197, 197); */
  color: rgb(234, 134, 3);
  /* color: var(--topBarColor); */
}

aside .tillar {
  text-align: center;
}
aside .tillar a:hover {
  color: #ffffff;
  letter-spacing: 0rem;
}

aside .tillar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

aside .tillar .birinchi_qator_ul {
  margin-top: 10px;
}

aside .tillar ul li {
  border-width: 0px;
}
aside .tillar ul li a {
  padding: 1px 10px;
  font-size: 12px;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
aside .tillar ul li a:hover {
  background-color: rgb(197, 197, 197);
  color: var(--topBarColor);
}

aside .tillar ul li:first-child {
  margin-left: -10px;
}
aside .tillar ul li:last-child {
  margin-right: -10px;
}

@media only screen and (min-width: 600px) {

  .side_nav {
    position: relative;
    margin-top: 0px;
  }

  aside {    
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--topBarColor);
    width: 400px;
    top: -600px;
    transition: top 0.4s ease-in-out;
    display: flex;
  }

  aside.active {
    top: 61px;
  }

  .side_nav {
    background-image: url(./images/);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;

    width: 100%;
    margin: auto;
    padding: 20px 50px;
  }

  aside ul li {
    padding: 8px 0px;
    line-height: 60px;
  }

  aside ul li a {
    font-size: 20px;
  }

  aside #tillar_a {
    margin: auto;
    width: fit-content;
    padding: 2px 20px;
    background-color: var(--topBarColor);
  }

  aside .tillar:before {
    content: "";
    position: absolute;
    top: 382px;
    left: 0px;
    width: 100%;
    border: 0.5px solid rgba(255, 255, 255, 0.204); 
    z-index: -1;
  }
  aside .tillar::after {
    content: "";
    position: absolute;
    top: 378px;
    left: 0px;
    width: 100%;
    border: 0.5px solid rgba(255, 255, 255, 0.204); 
    z-index: -1;
  }

  aside .tillar ul li {
    line-height: 30px;
  }
  aside .tillar ul li a {
    font-size: 16px;
  }
}


/* 

git pull

git add .

git commit -m "lyuboe sobwenie"

git push

*/
